.modal {
  display: flex !important;
  flex-direction: column;
  background-color: white;
  align-items: center;
}

.button-wrapper {
  display: flex;
  justify-content: end;
  width: 100%;
}

.close-button {
  padding: 1rem;
  font-size: 30px;
  cursor: pointer;
  transition-duration: .5s;
  &:hover {
    transform: scale(1.2);
    color: red;
    transition-duration: .5s;
  }
}

.card {
  color: black;
  background: white;
}

.card-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
  text-align: center;
}

.card-head {
  font-weight: 300;
  font-size: 20px;
  background-color: white;
}

.card-text {
  color: black;
}

.card-img {
  width: 300px;
  height: auto;
}

.meal-instructions {

}

.recipe-summary {

}

.recipe-source {
  display: flex;
}

@media only screen and (max-width: 945px) {
  .card-list {
    grid-template-columns: 1fr;
  }
}

@media only screen and (min-width: 945px) and (max-width: 1200px) {
  .card-list {
    grid-template-columns: 1fr 1fr;
  }
}